@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
hr{
    height: 1px;
    background-color: #c2c2c2;
    border: none;
    outline: none;
    width: 100%;
}
p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
h3{
    font-size: 1.4rem;
}
.h2-main{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
}
html{
    font-size: 62.5%;
}
.logo h2{
    font-size: 2rem;
    margin-left: 2rem;
    color: #000;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    z-index: 90;
}
nav.show{
    background-color: #ffff;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
nav ul li {
    margin: 0 1.5rem;
}
nav ul li a{
    padding: 1rem 1.5rem;
    font-size: 1.7rem;
    color: #000;
    transition: all .3s ease;
}
nav ul li a:hover{
    color: #C45308;
}
.btn-subscribe{
    color: #fff;
    background-color: #000;
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: 1px solid #000;
    transition: all .3s ease;
    font-size: 1.8rem;
}
.btn-subscribe:hover{
    color: #000;
    background-color: #ffff;
}

/* Hero */
#hero{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    position: relative;
    background-image: url(https://static.wixstatic.com/media/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg/v1/fill/w_1839,h_840,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg);
}
.hero-video{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    position: absolute;
}
.hero-main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 17vh 0;
    background-size: cover;
    background-position: center;
    z-index: 10;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 700px;
}
.hero h1{
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.hero h2{
    font-size: 2rem;
    font-weight: 400;
}
.hero-black{
    position: absolute;
    bottom: -190px;
    width: 100%;
    z-index: 10;
    left: 0;
}
.hero-black img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hamburger{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    z-index: 100;
}
.hambar{
    width: 3.1rem;
    height:.3rem;
    background-color: #000;
    position: absolute;
    border-radius: 1rem;
    transition: all .3s ease;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
.hamburger.active .hambar:nth-child(1){
    transform: rotate(45deg);
    top: inherit;
}
.hamburger.active .hambar:nth-child(2){
    opacity: 0;
}
.hamburger.active .hambar:nth-child(3){
    transform: rotate(-45deg);
    bottom: inherit;
}

/* Vision */
#vision{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10rem 0;
}
.vision{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
}
.vision-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    color: #fff;
    width: 400px;
    margin-left: 4rem;
}
.vision-main h1{
    font-size: 3rem;
    margin: 5rem 0;
    font-weight: 400;
}
.vision-img{
    width: 1000px;
    overflow: hidden;
}
.vision-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bar{
    height: 500px;
    width: 2px;
    background-color: #a3a3a3;
    position: relative;
}
.bar::after{
    position: absolute;
    width: 4px;
    background-color: #fff;
    height: 150px;
    content: '';
    top: 20%;
}
/* Services */
#services{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6rem 10rem;
}
.services{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.services-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    color: #000;
    margin-left: 3rem;
}
.services-main h2{
    color: #000;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 3rem 0;
}
.services-main h1{
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 400;
}
.services .bar{
    height: 240px;
}
.services .bar::after{
    background-color: #000;
    top: auto;
    bottom: 0;
}
/* Driving */
#driving{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 0;
}
.driving{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 400px;
}
.driving h1{
    font-size: 4rem;
    font-weight: 400;
}
.driving p{
    margin: 2.5rem 0;
}
.btn-read{
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    border: 1px solid #000;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 0 0 1rem;
    transition: all .3s ease;
}
.btn-read i{
    border-radius:  0 .3rem .3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    margin-left: 1rem;
    border-left: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.btn-read:hover {
    background-color: #000;
    color: #fff;
}
.btn-read:hover i{
    color: initial;
    background-color:#fff;
}
.driving-img{
    width: 800px;
}
.driving-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Info */
#info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem 0;
}
.info-img{
    width: 50%;
}
.info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    width: 500px;
    padding: 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.info h1{
    font-size: 4rem;
    font-weight: 400;
}
.info p{
    margin: 3rem 0;
}
/* Perce */
#perce{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6rem 0;
}
.perce{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 2rem;
    width: 500px;
}
.perce h1{
    font-size: 4rem;
    font-weight: 400;
}
.perce p{
    margin: 2rem 0;
}
.perce-img{
    width: 900px;
}
.perce-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Why */

#why{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10rem 0;
    background-image: url(https://static.wixstatic.com/media/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg/v1/fill/w_1864,h_1008,al_r,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg);
    background-attachment: fixed;
}
.why{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    background-color: #000;
    color: #fff;
    border-radius: 2rem;
}

.why-original{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 360px;
    margin-left: 2rem;
}
.why-main h2{
    font-weight: 400;
}
.why-main h1{
    font-size: 3rem;
    font-weight: 400;
    margin: 4rem 0;
}
.why-main .btn-read {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 2rem;
}
.why-main .btn-read:hover{
    color: #000;
    background-color: #fff;
}
/* Number */
#number{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.number-img{
    width: 50%;
}
.number-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.number-main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}
.number-main > h1{
    font-size: 3rem;
    margin-left: 2.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
.number-box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.number-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    margin: 3rem 1.5rem;
}
.number-box h1{
    font-size: 4rem;
    font-weight: 400;
}
.number-box .bar{
    height: 2px;
    width: 100%;
    background-color: #a3a3a3;
    position: relative;
    margin: 1.5rem 0;
}
.number .bar::after{
    position: absolute;
    width: 20%;
    background-color: #000;
    height: 2px;
    content: '';
    top: 20%;
}
/* Industry */
#industry{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    padding: 5rem 0;
}
.industry{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 0 2rem;
}
.industry .bar{
    height: 100%;
}
.industry .bar::after{
    height: 20%;
}
.industry-inner{
    width: 400px;
    height: 100%;
    margin-left: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
}
.industry-inner h3{
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.industry-inner h1{
    font-size: 3rem;
   font-weight: 400;
   margin: 4rem 0;
}
.industry-box-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;
}
.industry-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    flex-direction: column;
    width: 48%;
    margin: 3rem 0;
    text-align: center;
}
.industry-box img{
    width: 100px;
}
.industry-box h2{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    margin-top: 2rem;
}
/* Career */
#career{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8rem 0;
    background-color: #000;
}
.career-box-outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid #fff;
    padding: 6rem 3rem 2rem 3rem; 
    color: #fff;
    width: 550px;
    height: 500px;
}
.career-box{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
    height: 90%;
   display: none;
    transition: all .5s ease
}
.career-box-active{
   display: flex;
}
.career-box h1{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.career-box p span{
    color: #a3a3a3;
}
.career-box p{
    margin-top: 2rem;
}
.career-box .btn-read{
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1rem;
}
.career-box .btn-read:hover{
    background-color: #fff;
    color: #000;
}
.career-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.career-toggle-btn{
    background-color: #686868;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
}
.career-toggle-btn.active{
    background-color: #fff;
}
.career-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 450px;
}
.career-main .bar{
    height: 100%;
}
.career-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: #fff;
    margin-left: 3rem;
}
.career-text h2{
    font-size: 1.3rem;
    font-weight: 300;
}
.career-text h1{
    font-size: 3rem;
    font-weight: 400;
}
.career-text .btn-read{
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1rem;
}
.career-text .btn-read:hover{
    background-color: #fff;
    color: #000;
}
/* Footer */
#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0;
}
.footer-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer-main h2{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 4rem;
}
.footer-main-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-left{
    margin-right: 1rem;
    width: 200px;
}
.footer-right{
   margin-left: 1rem;
    width: 200px;
}
.footer-left ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: 1.6rem;
}
.footer-left ul li{
    margin: 2rem 0;
    font-weight: 500;
}
.footer-left ul li a{
    color: #666666;
}
.footer-right ul li a{
    color: #666666;
}
.footer-right ul li{
    margin: 2rem 0;
    font-weight: 500;
}
.footer-right ul{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: 1.6rem;
}
.footer-sub{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}
.footer-sub h2{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
}
.footer-sub h4{
    font-size: 1.5rem;
    font-weight: 400;
}
.footer-sub > h4{
    margin: 2.5rem 0;
}
.footer-sub-mail{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.footer-sub-mail h4{
    margin-bottom: 1rem;
}
.footer-sub-mail-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90%;
}
.footer-sub-mail-inner input{
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid #666666;
    width: 100%;
    padding: 0 1rem;
}
.footer-sub-mail-inner input:hover{
    border: 2px solid #000;
    background-color: #d5d5d5;
}
.footer-sub-mail-inner .btn-subscribe{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-10px);
}
@media screen and (max-width:1450px) {
    .hero-black {
        bottom: -11vh;
    }
    .driving-img {
        width: 600px;
    }
    .perce-img {
        width: 660px;
    }
    .why-original{
        padding: 0 4rem;
        width: 68%;
    }
}
@media screen and (max-width:1200px) {
    .vision-img img{
        width: 131%;
    }
    .driving-img {
        width: 450px;
    }
    .info {
        width: 340px;
    }
    .number-box {
        width: 150px;
    }
    .number-box-main > h1{
        margin-left: 0;
    }
    .number-box-main {
        justify-content: space-between;
    }
    .number-main {
        width: 90%;
    }
    .career-box-outer {
        width: 380px;
        height: 560px;
    }
}
@media screen and (max-width:1050px) {
    .industry-box img {
        width: 76px;
    }
    .industry-box-main {
        width: 350px;
    }
    .career-text h1 {
        font-size: 2.4rem;
    }
    #career{
        flex-direction: column;
        justify-content: center;
    }
    .career-main{
        width: 90%;
        height: 300px;
    }

    .career-box-outer{
        margin-top: 8rem;
        width: 70%;
    }
}
@media screen and (max-width:950px) {
    .hero-black {
        bottom: -11vh;
    }
    #vision{
        flex-direction: column;
        overflow: visible;
    }
    .vision-img img {
        width: 100%;
    }
    .vision-img {
        width: 100%;
    }
    .vision-main {
        width: 80%;
    }
    #services {
        padding: 6rem 2rem;
    }
    .services-main {
        width: 80%;
    }
    #driving{
        flex-direction: column;
    }
    .driving{
        width: 90%;
    }
    .driving-img {
        width: 90vw;
    }
    #info{
        flex-direction: column-reverse;
    }
    .info-img{
        width: 90%;
    }
    .info {
        width: 90%;
        padding: 0;
    }
    #perce{
        flex-direction: column;
        justify-content: center;
    }
    .perce-img {
        width: 100%;
    }
    .perce{
        margin-bottom: 5rem;
        width: 90%;
        padding: 0;
    }
    #footer{
        flex-direction: column;
        justify-content: center;
    }
    .footer-left{
        width: 48%;
    }
    .footer-right{
        width: 48%;
    }
    .footer-main-inner{
        width: 100%;
    }
    .footer-main{
        width: 90%;
        margin-bottom: 5rem ;
    }
    .footer-sub {
        width: 90%;
    }
    .footer-sub-mail-inner {
        width: 100%;
    }

}
@media screen and (max-width:850px) {
    .hamburger{
        display: inherit;
    }
    nav ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        height: 400px;
        background-color: #fff;
        transition: all .4s ease;
        z-index: 5;
    }
    nav ul li{
        margin: 2rem 0;
    }
    nav.active ul{
        top: 0;
    }
    .hero-black {
        bottom: -11vh;
    }
    .why-original {
        width: 80%;
    }
    #number{
        flex-direction: column;
    }
    .number-img{
        width: 100%;
    }
    .number{
        width: 100%;
    }
    .number-box {
        width: 45%;
    }
    .number-box-main {
        width: 100%;
    }
    .number-main > h1 {
        margin-left: 0;
    }
    #industry{
        flex-direction: column;
    }
    .industry-inner{
        width: 90%;
    }
    .industry-box-main{
        width: 90%;
        margin-top: 5rem;
    }
}
@media screen and (max-width:700px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero {
        width: 90%;
    }
    .hero-black {
        bottom: -11vh;
    }
    .vision-img img {
        width: 130%;
    }
    .why-original {
        width: 100%;
    }
    .why .bar {
        height: 600px;
    }
    .number-box {
        width: 40%;
    }
}
@media screen and (max-width:600px) {
    .vision-main h1 {
        font-size: 2.3rem;
    }
    .why-original {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .why {
        width: 90%;
        padding: 2rem 3rem;
    }
}
@media screen and (max-width:500px) {
    .services-main h1 {
        font-size: 2rem;
    }
    .driving h1 {
        font-size: 3rem;
    }
    .info h1 {
        font-size: 3rem;
    }
    .perce h1{
        font-size: 3rem;
    }
    .number-box-main{
        flex-direction: column;
    }
    .number-box {
        width: 90%;
    }
    .career-box-outer{
        width: 90%;
    }
    .career-main {
        width: 90%;
        height: 380px;
    }
}
@media screen and (max-width:400px) {
    .hero-black {
        bottom: -11vh;
    }
    .why .bar {
        height: 600px;
    }
    .why-main h1 {
        font-size: 2.3rem;
    }
    .industry-box{
        width: 90%;
    }
}
@media screen and (max-width:320px) {
    .footer-main-inner{
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
        margin: 0;
    }
    .footer-right{
        width: 100%;
        margin: 0;
    }
    
}
